@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */
*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
img
{
  display: block;
}
a
{
  color: black;
}
/* |||||||||| INIZIO |||||||||| */
.btn
{
  border-radius: 100vmax;
}

.centered
{
  text-align: center;
}

.contenitore
{
  width: 85%;
  margin: auto;
}
/* |||||||||| HEADER |||||||||| */

header
{
  background-color: #2786fa;
  padding: 20px 0;
  margin-bottom: 40px;
}

header i
{
  color: white;
  font-size: 1.4rem;
}

header ul
{
  display: none;
}

header li
{
  margin-left: 20px;
  color: white;

}

header ul > li:last-child
{
  font-weight: 500;
}


/* |||||||||| NAV |||||||||| */



/* |||||||||| MAIN |||||||||| */
section
{
  margin-bottom: 80px;
}
/* ----- Carte ----- */
.carta
{
  background-color: #b7defe;
  border-radius: 15px;
  padding: 20px 20px 0 20px;
  margin-top: 20px;
}

.carta > div > *:not(img)
{
  margin-bottom: 30px;
}

.carta h2
{
  color: #2786fa;
  font-size: 1rem;
}

.carta p
{
  font-weight: 600;
  line-height: 25px;
  color: #5b6e7f;
}

.carta .app-store
{
  padding: 10px 50px;
  display: inline;
}

.carta i
{
  color: white;
}

.carta img
{
  width: 100%;
  margin-top: 30px;
}

.carta .btn
{
  font-weight: 500;
  width: 100%;
  margin: auto;
  letter-spacing: 1px;
}

.carta .fa-solid
{
  color: #2786fa;
  font-size: 5rem;
}

/* ----- Planning ----- */
.sezione-planning
{
  padding-bottom: 80px;
}

.sezione-planning > div > div > *
{
  margin-top: 40px;
  margin-bottom: 40px;
}



.sezione-planning img
{
  width: 100%;
}

.sezione-planning p
{
  line-height: 1.5rem;
}

.sezione-planning > div:last-child
{
  color: black;
  text-align: center;
  font-style: italic;
  padding: 20px;
}

.sezione-planning > div:last-child > *
{
  margin-bottom: 10px;
}

.sezione-planning > div:last-child > div
{
  width: 50px;
  height: 50px;
  margin: auto;
}

/* |||||||||| FOOTER |||||||||| */


/* |||||||||| MEDIA QUERIES |||||||||| */
/* ----- Queries 426px */

@media screen and (min-width: 426px)
{
  section 
  {
    justify-content: space-between;
  }

  .carta
  {
    margin-bottom: 10px;
  }

  .carta img
  {
    width: 50%;
  }

  .carta-main
  {
    flex-basis: 65%;
  }

  .carta-sub
  {
    flex-basis: 31%;
  }
}



/* ----- Queries 768PX */
@media screen and (max-width: 768px)
{
  /* -----HEADER----- */

  header ul,
  header li
  {
    display: none;
  }
}

@media screen and (min-width: 769px)
{
  header .fa-solid
  {
    display: none;
  }

  header
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* -----MAIN----- */

  .carta-main
  {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .carta-main > div:first-child
  {
    flex-basis: 50%;
  }

  .carta-main > div:last-child
  {
    flex-basis: 40%;
    align-self: end;
  }

  .carta-main img
  {
    width: 100%;
  }
}










/* |||||||||| AREA TEST |||||||||| */



/* |||||||||| AREA TEST |||||||||| */





































